#about .content {
    /* padding: 10px; */
    /* border: solid red; */
    font-size: 1.5rem;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#about .content p {
    text-align: center;
    margin: 20px;
}

#about hr {
    width: 15%;
    border: 1px solid #616161;
    background-color: #616161;
    border-radius: 30px;
    margin: 5px;
}

aside {
    border-top: solid #777;
    border-bottom: solid #777;
    color: #707070;
    text-align: center;
    padding: 10px 25px;
    font-size: 1.2rem;
    margin-bottom: 20px;
}

@media screen and (min-width: 767px) {
    #about .content {
        margin: 0 10%;
    }

    #about hr {
        margin: 1% 0;
        width: 5%;
    }
}
