section#contact-me {
    /* min-height: 100%; */
}

section#contact-me .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

form {
    width: 80%;
    margin: 0 auto;
    padding: 5px;
    flex-grow: 1;
    
    display: flex;
    flex-direction: column;
}

input, textarea {
    padding: .7em 1em;
    background-color: #f8f8f8;
    border-radius: 4px;
    margin: 3px 0 15px;
    border: solid black;
}

#fName {
    width: 100%;
    height: 8%;
}

#lName {
    width: 100%;
    height: 8%;
}

#email {
    width: 100%;
    height: 8%;
}

#message {
    width: 100%;
    height: 35%;
    resize: none;
}

#submit {
    margin: 0 auto;
    background-color: royalblue;
    color: white;
}

.social-links-container {
    margin: 0 auto;
    padding: 5px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.social-links-container a {
    display: inline-block;
}

.social-links-container .link-btn {    
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.social-links-container .fa-solid, .fa-brands {
    font-size: 1.5em;
    color: white;
}

.instagram {background-image: linear-gradient(to top right, #fcaf45, #c13584);}
.github {background-color: #333;}
.twitter {background-color: #1da1f2;}
.email {background-color: #ea4335;}
.linktree {background-color: #333;}
.facebook {background-color: #1877f2;}
.linkedin {background-color: #0077b5;}
.fiverr {background-color: #00b22d;}

footer {
    text-align: center;
}

@media screen and (min-width: 769px) {
    form {
        width: 60%;
        margin: 0 auto;
        flex-grow: 1;
    }

    .social-links-container {
        width: 100%;
    }

    .social-links-container .link-btn {
        height: 75px;
        width: 75px;
    }

    .social-links-container .fa-solid, .fa-brands {
        font-size: 2em;
    }
}