* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100%;  
    font-family: Arial, Helvetica, sans-serif; 
}

main::-webkit-scrollbar {
    display: none;
}

nav {
    height: 100px;
    width: 100%;
    position: fixed;
    /* background-image: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .55), rgba(0, 0, 0, .3), rgba(0, 0, 0, 0)); */
    transition: background-color 0.2s, color 0.2s;
    z-index: 10;
    

    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav > * {
    margin: 0 3%;
}

nav .logo {
    font-size: 20px;
    color: white;
    border: solid white;
    padding: .5em 1em;
    display: inline-block;
    border-radius: 5px;
    text-decoration: none;
}

nav .links {
    /* height: auto; */
}

nav .links a {
    padding: .5em;
    margin: .2em .5em;
    display: inline-block;
    border: solid rgba(0, 0, 0, 0);
    text-decoration: none;
    color: white;
    transition: border 0.1s;
}

nav .links a:hover {
    border-bottom: solid rgb(255, 255, 255);
}

main {    
    width: 100%;
    height: 100%;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    scroll-behavior: smooth;
}

header, section {
    scroll-snap-align: start;
    scroll-margin-top: 100px;
    height: calc(100vh - 100px);
    width: 100%;
    border: solid red;
}

header .title, section .title {
    border: solid red;
    height: 10%;
    font-size: 2em;

    display: flex;
    justify-content: center;
    align-items: center;
}

section .content {
    border: solid red;
    height: 75%;
}

header .bottom, section .bottom {
    border: solid red;
    height: 15%;

    display: flex;
    justify-content: center;
    align-items: center;
}

header .title {
    height: 90%;
    
}

header .bottom {
    height: 10%;
    z-index: 5;
}

header {
    background-image: url("../media/VI_Day.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    position: relative;
}

header .dark-filter {
    border: solid blue;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 0;
}

section {

}

h1 {
    color: white;
    z-index: 5;
    text-align: center;
}

@keyframes downArrow {
    0% {bottom: 20px;}
    5% {bottom: 0;}
    10% {bottom: 10px;}
    15% {bottom: 0;}
    20% {bottom: 20px;}
    100% {bottom: 20px;}
}

.fa-angle-down {
    position: relative;
    bottom: 20px;
    color: white;
    font-size: 3.5em;
    animation-name: downArrow;
    animation-duration: 4s;
    /* animation-timing-function: ease-in-out; */
    animation-iteration-count: infinite;
    z-index: 5;
}

