* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 12px;
}

body {
    height: 100vh;
    width: 100%;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    /* font-size: 12px; */
}

main::-webkit-scrollbar {
    display: none;
}

nav {
    height: 100px;
    width: 100%;
    position: fixed;
    /* background-image: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .55), rgba(0, 0, 0, .3), rgba(0, 0, 0, 0)); */
    transition: background-color 0.2s, color 0.2s;
    z-index: 10;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav > * {
    margin: 0 3%;
}

nav .logo {
    font-size: 1.6em;
    color: white;
    border: solid white;
    padding: 0.5em 1em;
    display: inline-block;
    border-radius: 5px;
    text-decoration: none;
    
}

#hamburgerIcon {
    display: inline-block;
    cursor: pointer;
}

nav .hamburger-bar {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

nav .change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

nav .change .bar2 {
    opacity: 0;
}

nav .change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}

nav .links {
    /* height: auto; */
    display: none;
}

nav .links a {
    padding: 0.5em;
    margin: 0.2em 0.5em;
    display: inline-block;
    border: solid rgba(0, 0, 0, 0);
    text-decoration: none;
    color: white;
    transition: border 0.1s;
}

nav .links a:hover {
    border-bottom: solid rgb(255, 255, 255);
}

#mobileOverlay {
    height: 100%;
    z-index: 9;
    width: 0%;
    position: fixed;
    right: 0;
    top: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

#mobileOverlay .links {
    /* border: solid red; */
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

#mobileOverlay .links a {
    padding: 8px;
    text-decoration: none;
    font-size: 2.8em;
    color: #818181;
    transition: 0.3s;
    margin: 10px;
    /* text-shadow: 0 0 1px black, 0 0 1px white; */
}

#mobileOverlay .links a:hover,
#mobileOverlay .links a:focus {
    color: #f1f1f1;
}

main {
    width: 100%;
    height: 100%;
    scroll-snap-type: y mandatory;
    overflow-y: auto;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    scroll-behavior: smooth;
    background-color: black;

    background-image: url("../media/circle-scatter-haikei.png");
    background-position: center;
    background-size: cover;
    /* background-repeat: no-repeat; */
    background-attachment: initial;
}

header,
section {
    scroll-snap-align: start;
    scroll-snap-stop: always;
    scroll-margin-top: 100px;
    height: calc(100vh - 100px);
    width: 100%;
    /* border: solid red; */
    background-color: white;
    display: flex;
    flex-direction: column;
}

header .title,
section .title {
    /* border: solid red; */
    height: 15%;
    font-size: 2.5rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

header .title {
    margin: 5px;
    /* font-family: "Tangerine", Arial, Helvetica, sans-serif; */
}
header .title h1 {
    margin: 5px;
    font-size: 3em;
    font-family: "Tangerine", Arial, Helvetica, sans-serif;
}

header .title .extra {
    font-size: 2.3rem;
    margin: 8px 10px;
}

section .content {
    /* border: solid red; */
    height: 70%;
    /* font-family: "Open Sans", Arial, Helvetica, sans-serif; */
}


header .bottom,
section .bottom {
    /* border: solid red; */
    height: 15%;
    /* font-family: "Open Sans", Arial, Helvetica, sans-serif; */
    
    display: flex;
    justify-content: center;
    align-items: center;
}

section .content, section .bottom {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

header .title {
    height: 90%;
    flex-direction: column;
    text-align: center;
    color: white;
}

h1,
header p {
    z-index: 5;
}

header .bottom {
    height: 10%;
    z-index: 5;
}

header {
    background-image: url("../media/VI_Day.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: initial;
    height: 100vh;
    position: relative;
}

header .dark-filter {
    /* border: solid blue; */
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 0;
}

section {
    margin-top: 50vh;
}

@keyframes downArrow {
    0% {
        bottom: 20px;
    }
    5% {
        bottom: 0;
    }
    10% {
        bottom: 10px;
    }
    15% {
        bottom: 0;
    }
    20% {
        bottom: 20px;
    }
    100% {
        bottom: 20px;
    }
}

header .fa-angle-down {
    position: relative;
    bottom: 20px;
    color: white;
    font-size: 3.5em;
    animation-name: downArrow;
    animation-duration: 4s;
    /* animation-timing-function: ease-in-out; */
    animation-iteration-count: infinite;
    z-index: 5;
}

.btn {
    margin: 3% auto;
    display: inline-block;
    border-radius: 10px;
    border: none;
    box-shadow: 0 8px #999;
    color: white;
    width: 20%;
}

.btn a {
    text-decoration: none;
    color: white;
    display: inline-block;
    height: 100%;
    width: 100%;
    padding: 15px 10px;
}

.btn:active {
    box-shadow: 0 5px #666;
    transform: translateY(3px);
}

.lS-warning {
    display: none;
}

@media screen and (min-width: 767px) {
    html {
        font-size: 16px;
    }

    main,
    header {
        background-attachment: fixed;
    }

    #hamburgerIcon {
        display: none;
    }

    nav .links {
        display: block;
    }
}

@media screen and (max-width: 500px) and (orientation: landscape) {
    .lS-warning {
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        border: solid red;
        width: 100vw;
        height: 100vh;
        background-color: pink;
        z-index: 20;
    }
}
